* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Hack, monospace;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background-color: #1a1a1a;
  /* Accout for the Nav */
  margin-top: 4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  body {
    /* Account for the NavSocial */
    margin-left: 4rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    /* Account for the NavSocial */
    margin-bottom: 4rem;
  }

  html {
    font-size: 10px;
  }
}
